apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp
  namespace: devops-demo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers:
        - name: webapp
          image: <REGISTRY>/<REPO>:<TAG>
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 9000
          envFrom:
            - configMapRef:
                name: app-config
      imagePullSecrets:
        - name: regcred   # create if using private registry

